.home-card {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    margin: 10px;
    font-family: 'Mali', cursive;
    z-index: 10;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
    cursor: pointer;
    color: black;
    border: 3px solid grey;
}

.home-card:hover {
    box-shadow: 0 0px 20px white;
    font-weight: bold;
}

.home-card__wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-card .home-card__icon {
    width: 50px;
    height: 50px;
}

.home-card__title {
    display: block;
    font-size: .8rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 2px white;
}